.bookmarks-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bookmarks-header button {
  background-color: transparent;
  border: none;
}

.bookmarks-header h2 {
  width: 90%;
  padding-left: 30px;
}

.bookmarks-extra {
  float: inline-end;
}

.tuit {
  border: 1px solid #EAEDED;
  padding: 20px;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.tuit-display-pic img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.tuit-user {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tuit-body {
  padding-left: 20px;
  width: 90%;
}

.tuit-body a {
  color: #1dcaff;
  text-decoration: none;
}

.tuit-body h3 {
  margin-top: 0px;
  margin-bottom: -5px;
}

.tuit-fullname {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tuit-fullname-pic {
  background: transparent;
  height: auto;
  width: 2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.tuit button {
  background-color: transparent;
  border: none;
}

.tuit-username {
  color: #666;
  margin-left: 10px;
}

.dot {
  font-size: 5px;
  padding-bottom: 50px;
  vertical-align: middle;
}

.tuit-pic {
  border: 1px solid #EAEDED;
  border-radius: 20px;
  height: 400px;
}

.tuit-pic hr {
  margin: 0px;
  background-color: #EAEDED;
  height: 1px;
  border: none;
}

.tuit-cover-pic {
  height: 70%;
  width: 100%;
}

.tuit-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tuit-pic-deets {
  height: 30%;
  padding: 10px;
}

.tuit-pic-deets p {
  margin: 3px;
}

.tuit-pic-deets-1 {
  font-size: 12px;
  color: #666;
}

.tuit-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #666;
}

.tuit-option {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.tuit-option i {
  margin-right: 10px;
}

.tuit-option button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like {
  color: palevioletred;
}

.verified-user {
  margin-left: 3px;
  margin-bottom: 5px;
  color: #1dcaff;
}

.verified-user .fa-certificate {
  position: relative;
  color: #1dcaff;
  position: absolute;
  font-size: 20px;
}

.verified-user .fa-check {
  color: white;
  position: relative;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 3px;
}